<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>edit person</title>
</head>
<body>
<h4>edit person page</h4>
<form th:method="PATCH" th:object="${person}" th:action="@{/people/{id}(id=${person.getId()})}">
<label for="name">edit person's name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <label for="age">edit person's age</label>
    <input type="text" th:field="*{age}" id="age"/>
    <input type="submit" value="update information"/>
</form>
</body>
</html>